<a href="https://colab.research.google.com/github/wambu2021/INTROR/blob/main/suicidedata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Read CSV file using pandas
import pandas as pd
df=pd.read_csv('/content/SuicidesIndia.csv')
df.head()

           State  Year Type_code  ...  Gender Age_group Total
0  A & N Islands  2001    Causes  ...  Female      0-14   0.0
1  A & N Islands  2001    Causes  ...  Female      0-14   0.0
2  A & N Islands  2001    Causes  ...  Female      0-14   0.0
3  A & N Islands  2001    Causes  ...  Female      0-14   0.0
4  A & N Islands  2001    Causes  ...  Female      0-14   0.0

[5 rows x 7 columns]